.ServiceSection {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    overflow:visible;
}

.Service {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30rem;
    height:35rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.699);
    transition: all 0.3s ease;
}

